ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.navLinks {
    display: flex;
}

nav a {
    text-transform: capitalize;
    margin-right: 1rem;
}

.container {
    text-align: center;
}